/* this is the new corporate style of the brict */

html, body {
	margin:0;
	padding:0;
	color:#035;
	background:#fff;
	font:90% Helvetica, Verdana, Arial, sans-serif;
}

h1 {
	color:#fff;
	background:darkblue;
	font:bold 200% Verdana, Arial, Helvetica, sans-serif;
	padding:0.25em 1em 0.5em 1em;
	margin:0;
	border:1px solid darkblue;
	border-width:1px 0;
}

h2 {
	font:bold 200%/1em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0.5em 1em 0.5em 1em;
	line-height:1.5;
}

h3 {
	font:bold 90%/1em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0.5em 1em 0.5em 1em;
	padding-bottom:0;
	line-height:1.5;
}

h4 {
	font:bold 80%/1em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0.5em 1em 0.5em 1em;
	line-height:1.5;
}

p {
	line-height:1.5;
	padding:0.25em 1em 0 1em;
}

html hr {
	color:darkblue;
	border:1px solid darkblue;
	background-color:#fff;
	height:1px;
	margin-left:1em;
}

address {
	padding:0.5em 1em 0.5em 1em;
	font-style:normal;
	line-height:1.5;
}

a:link {color:#035;}

a:visited {
	color:#669;
}

a:hover {
	color:#035;
}

#path {
	float:right;
	padding:1em;
	font-weight:bold;
	background:#fff;
	text-align:right;
	color:rgb(54%,64%,70%);
	clear:right;
}

#headend {
	clear:left;
}

#quickjump {
	text-align:right;
	margin:0;
	padding-top:1em;
}

#footer {
	background:#fff;
	font-size:11px;
	margin-top:10px;
	padding:1em 2em 1em 2em;
	text-align:center;
	border-top:1px solid blue;
	clear:both;
}

#lastchange {
	font-size:10px;
	margin-top:10px;
	padding-top:10px;
	text-align:center;
	border-top-color:darkblue;
	border-top:1px solid darkblue;
}

form {
	padding:0;
	margin:0;
}

optgroup {font-style:normal;}

button {
	color:#036;
    margin:0.5em 0.5em 0.25em 0;
    padding:0;
    cursor:pointer;
    background-color:#fff;
    border:1px solid darkblue;
}

.button {
	color:#036;
    margin:0.5em 0.5em 0.25em 0;
    padding:0;
    cursor:pointer;
    background-color:#fff;
    border:1px solid darkblue;
}

#query {
    margin:0.5em 0 0 0;
    padding:0;
    cursor:text;
    background-color:#fff;
    border:1px solid darkblue;
	width:14.5em;
}

#search p {
      border:1px;
}

#search {
	width:14.8em;
}

.hits dt {
  text-decoration:none;
}

.hits dd {
  /* font-size:x-small; */
}

/* css driven layout */

#headerspacer {
	color:#036;
	font-size:xx-small;
	height:1px;
	display:block;
	clear:both;
	z-index:3;
}

/* Set up NN4 values - purely to prevent vertical "looseness" */
#headerspacer {
	margin:0px;
	margin-top:-10px;
	padding:0px;
}
/* Set up default spacer values */
#headerspacer {
	/*/*/
	margin:0px;
	padding:8px;
	/* */
}

/* indentation for nested list items - everywhere */

ul {
	margin:0 0 0 2em;
	padding:0 0 0 1em;
}

ul.linklist {
	color:#036;
	line-height:1.5;
	margin:0;
	padding:0;
	list-style:none;
}

ul.linklist li {
	line-height:1.5;
	border-bottom:1px solid darkblue;
	margin:0;
	padding:0;
}

ul.linklist li ul {
	margin-left:1.5em;
	padding-left:0;
}

ul.linklist a {display:block; text-decoration:none; padding:0 0 0 0.33em; height:100%;}
ul.linklist a:link {text-decoration:none;}
ul.linklist a:visited {text-decoration:none;}
ul.linklist a:hover {background:rgb(80%,85%,90%);}
/* ul.linklist a:hover:after {content:" [" attr(accesskey) "] "; } */

ul.linklist li li {
	line-height:1.5;
	border-bottom:0;
	border-top:1px solid darkblue;
	margin:0;
	padding:0;
	list-style:none;
}

.selected {
	background:rgb(80%,85%,90%);
}

dl {
	padding-top:0.3em;
	padding-left:1em;
	padding-bottom:1em;
	line-height:1.5;
}

dl dt {
	font-weight:bold;
}

tt {
	font-family:"Courier New", Courier, mono;
	font-size:12px;
}

#deco tt a:link {
	text-decoration: none;
}

#deco tt a:visited {
	text-decoration: none;
}

/* 2-column layout */


#col2o2 {
	position:absolute;
	left:0px;
	width:98%;
	z-index:3;
	border:0;
	padding-right:1px;
	padding-left:1px;
}

#col2o2content {
	margin:0;
	margin-right:1px;
	margin-left:1px;
	padding:0;
	color:#036;
	background-color:#fff;
	border:1px solid darkblue;
}

#col2o2content p {
	line-height:1.5;
	padding:0.25em 1em 0.25em 1em;
}

#col2o2content ul li {
	line-height:1.5;
	list-style:square;
	padding-right:1em;
}

#col2o2content ul {
	padding-top: 0.25em;
}

#col2o2content img {
	vertical-align : middle
	margin:1em 1em 0.3em 1em;
}

#deco {
	padding-left:1.5em;
	padding-top:1.3em;
	float:left;
	clear:none;
	height:100px;
}

.caption {
	width: 600px;
	padding-left: 3em;
	margin-left: 3em;
	float:left;
	font-size:xx-small;
	clear:both;
}

.nonfloat img {
	float: left;
	clear: both;
}



.clearpara {
	clear: both;
}
